@import '../../variaveis.css';

#login {
    align-items     : center;
    background-color: var(--container);
    display         : flex;
    flex-direction  : column;
    font-family     : var(--font);
    justify-content : center;
    min-height      : 100vh;
    padding         : 0 2rem;
}

#login .form {
    background-color: var(--purpleLight);
    border-radius   : 10px;
    max-width       : 480px;
    padding         : 0.5rem;
    width           : 100%;
}


#login .field {
    padding-bottom: 0.8rem;
}

#login .field label {
    display: block;
    font-weight:600;
    padding: 0.3rem;
}

#login .field input {
    width: 100%;
}

#login .actions {
    margin-top: 0.5rem;
    text-align: center;
}

.buttonSubmit {
    background-color: var(--container);
    border          : none;
    border-radius   : 10px;
    cursor          : pointer;
    font-family     : inherit;
    font-size       : 1rem;
    padding         : 0.5rem;

}

.buttonSubmit:hover {
    background-color: var(--lilac);
}

input:focus {
    outline   : 0;
    font-family: inherit;
}
